<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HTTP-FRONTEND-GSM-MODS</title>

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="wrapper">
    <h1>HTTP-FRONTEND-GSM-MODS</h1>
    
    <h3>Enviar mensagem para todos os dispositivos conectados</h3>
    <form id="form-send" autocomplete="off">
      <input type="text" name="text-to-send" id="text-to-send">
      <button type="submit">Enviar</button>
    </form>

    <br/>

    <h3>Log das coneções</h3>
    <button type="button" id="btn-clear-log">Limpar log</button>
    <br/>
    <pre id="log"></pre>

  </div>

  <script>
  (function() {
    'use strict'

    document.getElementById('form-send').onsubmit = send
    document.getElementById('btn-clear-log').onclick = () => {
      fetch('/api/log/clear')
        .then(() => readLog())
    }

    setInterval(() => {
      readLog()
    }, 5000)

    readLog()

    function readLog() {
      fetch('/api/log')
        .then(res => res.text())
        .then(text => document.getElementById('log').innerText = text)
    }

    function send(ev) {
      ev.preventDefault()

      fetch('/api/send', {
        method: 'POST',
        body: JSON.stringify({ text: document.getElementById('text-to-send').value }),
        headers: {
          "Content-Type": "application/json; charset=utf-8"
        }
      })
        .then(() => document.getElementById('text-to-send').value = '')
        .catch(() => document.getElementById('text-to-send').value = '')
    }
  })()
  </script>
</body>
</html>