html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace;
  background: #cecece;
  display: flex;
  justify-content: center;
}

#wrapper {
  width: 800px;
  height: 100%;
  background: #fff;
  box-shadow: 3px 4px #888888;
  padding-left: 10px;
  padding-right: 10px;
}